@import "tailwindcss";

@theme {
    --color-base-1: #008044;
    --color-base-2: #091405;
    --color-base-3: #bbc0b9;
    --color-base-4: #80877d;
    --color-base-5: #444d41;
    --color-accent-1: #035772;
    --color-accent-2: #e0fd2c;
    --color-accent-3: #a5c8d4;
    --color-accent-4: #a12767;
    --text-color-1: #252525;
    --text-color-2: #18412d;
    --text-color-3: #015d32;
}
/*  */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes spinACircle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes spinReverse {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.animate-spinACircle {
    animation: spinACircle 0.5s ease-in-out forwards;
}

.animate-spinReverse {
    animation: spinReverse 0.5s ease-in-out forwards;
}
@layer base {
    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.1rem;
    }
}
