html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.layout-content {
    margin-top: 56px;
    width: 100%;
    flex: 1;
}

footer {
    flex-shrink: 0;
    width: 100%;
    margin-top: auto;
}

@media (min-width: 900px) {
    .layout-content {
        margin-top: 40px;
    }
}
