<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Mail</title>
    <style>
        h1 {
            text-align: center;
            color: #008044;
        }
        .container {
            width: 100%;
            padding: 20px 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            min-height: 200px;
        }
    </style>
</head>
<body>
    <h1>Charity Donation UIT</h1>
    <h3>Access This Link To Continue</h3>
    <div class="container">
        <span><%= urlVerify %></span>
    </div>
</body>
</html>